
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #B58787;
    
}
.section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.section img {
    width: 45%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}


